{% extends "subpage.tmpl" %} 
{% block content %}
<h3 class="h3--media_title">
	Clinical Studies
</h3>
<div class="b_media_wrapper">
    <div class="b_media__element">
        <a href="javascript:require('nw.gui').Shell.openItem('U:/reps/t-a-sciences-usb-launcher/nwjs-sdk-v0.17.2-win-x64/dist/docs/lorem.pdf');" class="b_media__href"></a>
        <div class="b_media__icon">
            <img src="images/icon--pdf.png" alt="icon" class="b_media__img">
        </div>
        <div class="b_media__description">
            <p>A Natural Product Telomerase Activator - Lengthens Telomeres in Humans (Double Blind Placebo Control) Study - Raffaele
                <br>- 2016</p>
        </div>
    </div>
    <div class="b_media__element">
        <a href="javascript:require('nw.gui').Shell.openItem('U:/reps/t-a-sciences-usb-launcher/nwjs-sdk-v0.17.2-win-x64/dist/docs/lorem.pdf');" class="b_media__href"></a>
        <div class="b_media__icon">
            <img src="images/icon--pdf.png" alt="icon" class="b_media__img">
        </div>
        <div class="b_media__description">
            <p>A Natural Product Telomerase Activator as Part of a Health Maintenance Program Metabolic and Cardiovascular Response Study - Harley
                <br>- 2013</p>
        </div>
    </div>
    <div class="b_media__element">
        <a href="javascript:require('nw.gui').Shell.openItem('U:/reps/t-a-sciences-usb-launcher/nwjs-sdk-v0.17.2-win-x64/dist/docs/lorem.pdf');" class="b_media__href"></a>
        <div class="b_media__icon">
            <img src="images/icon--pdf.png" alt="icon" class="b_media__img">
        </div>
        <div class="b_media__description">
            <p>A Natural Product Telomerase Activator as Part of a Health Maintenance Program Study - Harley
                <br>- 2011</p>
        </div>
    </div>
    <div class="b_media__element">
        <a href="javascript:require('nw.gui').Shell.openItem('U:/reps/t-a-sciences-usb-launcher/nwjs-sdk-v0.17.2-win-x64/dist/docs/lorem.pdf');" class="b_media__href"></a>
        <div class="b_media__icon">
            <img src="images/icon--pdf.png" alt="icon" class="b_media__img">
        </div>
        <div class="b_media__description">
            <p>Functional Assessment of Pharmacological T.A. in Human T Cells Study - Valenzuela
                <br>- 2013</p>
        </div>
    </div>
    <div class="b_media__element">
        <a href="javascript:require('nw.gui').Shell.openItem('U:/reps/t-a-sciences-usb-launcher/nwjs-sdk-v0.17.2-win-x64/dist/docs/lorem.pdf');" class="b_media__href"></a>
        <div class="b_media__icon">
            <img src="images/icon--pdf.png" alt="icon" class="b_media__img">
        </div>
        <div class="b_media__description">
            <p>Harvard Age Reversal in a Mammal Study - DePinho
                <br>- 2011</p>
        </div>
    </div>
    <div class="b_media__element">
        <a href="javascript:require('nw.gui').Shell.openItem('U:/reps/t-a-sciences-usb-launcher/nwjs-sdk-v0.17.2-win-x64/dist/docs/lorem.pdf');" class="b_media__href"></a>
        <div class="b_media__icon">
            <img src="images/icon--pdf.png" alt="icon" class="b_media__img">
        </div>
        <div class="b_media__description">
            <p>TA-65 Bird Feather Regeneration Study - Criscuolo
                <br>- 2014</p>
        </div>
    </div>
        <div class="b_media__element">
        <a href="javascript:require('nw.gui').Shell.openItem('U:/reps/t-a-sciences-usb-launcher/nwjs-sdk-v0.17.2-win-x64/dist/docs/lorem.pdf');" class="b_media__href"></a>
        <div class="b_media__icon">
            <img src="images/icon--pdf.png" alt="icon" class="b_media__img">
        </div>
        <div class="b_media__description">
            <p>A Natural Product Telomerase Activator - Lengthens Telomeres in Humans (Double Blind Placebo Control) Study - Raffaele
                <br>- 2016</p>
        </div>
    </div>
    <div class="b_media__element">
        <a href="javascript:require('nw.gui').Shell.openItem('U:/reps/t-a-sciences-usb-launcher/nwjs-sdk-v0.17.2-win-x64/dist/docs/lorem.pdf');" class="b_media__href"></a>
        <div class="b_media__icon">
            <img src="images/icon--pdf.png" alt="icon" class="b_media__img">
        </div>
        <div class="b_media__description">
            <p>A Natural Product Telomerase Activator as Part of a Health Maintenance Program Metabolic and Cardiovascular Response Study - Harley
                <br>- 2013</p>
        </div>
    </div>
    <div class="b_media__element">
        <a href="javascript:require('nw.gui').Shell.openItem('U:/reps/t-a-sciences-usb-launcher/nwjs-sdk-v0.17.2-win-x64/dist/docs/lorem.pdf');" class="b_media__href"></a>
        <div class="b_media__icon">
            <img src="images/icon--pdf.png" alt="icon" class="b_media__img">
        </div>
        <div class="b_media__description">
            <p>A Natural Product Telomerase Activator as Part of a Health Maintenance Program Study - Harley
                <br>- 2011</p>
        </div>
    </div>
    <div class="b_media__element">
        <a href="javascript:require('nw.gui').Shell.openItem('U:/reps/t-a-sciences-usb-launcher/nwjs-sdk-v0.17.2-win-x64/dist/docs/lorem.pdf');" class="b_media__href"></a>
        <div class="b_media__icon">
            <img src="images/icon--pdf.png" alt="icon" class="b_media__img">
        </div>
        <div class="b_media__description">
            <p>Functional Assessment of Pharmacological T.A. in Human T Cells Study - Valenzuela
                <br>- 2013</p>
        </div>
    </div>
    <div class="b_media__element">
        <a href="javascript:require('nw.gui').Shell.openItem('U:/reps/t-a-sciences-usb-launcher/nwjs-sdk-v0.17.2-win-x64/dist/docs/lorem.pdf');" class="b_media__href"></a>
        <div class="b_media__icon">
            <img src="images/icon--pdf.png" alt="icon" class="b_media__img">
        </div>
        <div class="b_media__description">
            <p>Harvard Age Reversal in a Mammal Study - DePinho
                <br>- 2011</p>
        </div>
    </div>
    <div class="b_media__element">
        <a href="javascript:require('nw.gui').Shell.openItem('U:/reps/t-a-sciences-usb-launcher/nwjs-sdk-v0.17.2-win-x64/dist/docs/lorem.pdf');" class="b_media__href"></a>
        <div class="b_media__icon">
            <img src="images/icon--pdf.png" alt="icon" class="b_media__img">
        </div>
        <div class="b_media__description">
            <p>TA-65 Bird Feather Regeneration Study - Criscuolo
                <br>- 2014</p>
        </div>
    </div>
        <div class="b_media__element">
        <a href="javascript:require('nw.gui').Shell.openItem('U:/reps/t-a-sciences-usb-launcher/nwjs-sdk-v0.17.2-win-x64/dist/docs/lorem.pdf');" class="b_media__href"></a>
        <div class="b_media__icon">
            <img src="images/icon--pdf.png" alt="icon" class="b_media__img">
        </div>
        <div class="b_media__description">
            <p>A Natural Product Telomerase Activator - Lengthens Telomeres in Humans (Double Blind Placebo Control) Study - Raffaele
                <br>- 2016</p>
        </div>
    </div>
    <div class="b_media__element">
        <a href="javascript:require('nw.gui').Shell.openItem('U:/reps/t-a-sciences-usb-launcher/nwjs-sdk-v0.17.2-win-x64/dist/docs/lorem.pdf');" class="b_media__href"></a>
        <div class="b_media__icon">
            <img src="images/icon--pdf.png" alt="icon" class="b_media__img">
        </div>
        <div class="b_media__description">
            <p>A Natural Product Telomerase Activator as Part of a Health Maintenance Program Metabolic and Cardiovascular Response Study - Harley
                <br>- 2013</p>
        </div>
    </div>
    <div class="b_media__element">
        <a href="javascript:require('nw.gui').Shell.openItem('U:/reps/t-a-sciences-usb-launcher/nwjs-sdk-v0.17.2-win-x64/dist/docs/lorem.pdf');" class="b_media__href"></a>
        <div class="b_media__icon">
            <img src="images/icon--pdf.png" alt="icon" class="b_media__img">
        </div>
        <div class="b_media__description">
            <p>A Natural Product Telomerase Activator as Part of a Health Maintenance Program Study - Harley
                <br>- 2011</p>
        </div>
    </div>
    <div class="b_media__element">
        <a href="javascript:require('nw.gui').Shell.openItem('U:/reps/t-a-sciences-usb-launcher/nwjs-sdk-v0.17.2-win-x64/dist/docs/lorem.pdf');" class="b_media__href"></a>
        <div class="b_media__icon">
            <img src="images/icon--pdf.png" alt="icon" class="b_media__img">
        </div>
        <div class="b_media__description">
            <p>Functional Assessment of Pharmacological T.A. in Human T Cells Study - Valenzuela
                <br>- 2013</p>
        </div>
    </div>
    <div class="b_media__element">
        <a href="javascript:require('nw.gui').Shell.openItem('U:/reps/t-a-sciences-usb-launcher/nwjs-sdk-v0.17.2-win-x64/dist/docs/lorem.pdf');" class="b_media__href"></a>
        <div class="b_media__icon">
            <img src="images/icon--pdf.png" alt="icon" class="b_media__img">
        </div>
        <div class="b_media__description">
            <p>Harvard Age Reversal in a Mammal Study - DePinho
                <br>- 2011</p>
        </div>
    </div>
    <div class="b_media__element">
        <a href="javascript:require('nw.gui').Shell.openItem('U:/reps/t-a-sciences-usb-launcher/nwjs-sdk-v0.17.2-win-x64/dist/docs/lorem.pdf');" class="b_media__href"></a>
        <div class="b_media__icon">
            <img src="images/icon--pdf.png" alt="icon" class="b_media__img">
        </div>
        <div class="b_media__description">
            <p>TA-65 Bird Feather Regeneration Study - Criscuolo
                <br>- 2014</p>
        </div>
    </div>
        <div class="b_media__element">
        <a href="javascript:require('nw.gui').Shell.openItem('U:/reps/t-a-sciences-usb-launcher/nwjs-sdk-v0.17.2-win-x64/dist/docs/lorem.pdf');" class="b_media__href"></a>
        <div class="b_media__icon">
            <img src="images/icon--pdf.png" alt="icon" class="b_media__img">
        </div>
        <div class="b_media__description">
            <p>A Natural Product Telomerase Activator - Lengthens Telomeres in Humans (Double Blind Placebo Control) Study - Raffaele
                <br>- 2016</p>
        </div>
    </div>
    <div class="b_media__element">
        <a href="javascript:require('nw.gui').Shell.openItem('U:/reps/t-a-sciences-usb-launcher/nwjs-sdk-v0.17.2-win-x64/dist/docs/lorem.pdf');" class="b_media__href"></a>
        <div class="b_media__icon">
            <img src="images/icon--pdf.png" alt="icon" class="b_media__img">
        </div>
        <div class="b_media__description">
            <p>A Natural Product Telomerase Activator as Part of a Health Maintenance Program Metabolic and Cardiovascular Response Study - Harley
                <br>- 2013</p>
        </div>
    </div>
    <div class="b_media__element">
        <a href="javascript:require('nw.gui').Shell.openItem('U:/reps/t-a-sciences-usb-launcher/nwjs-sdk-v0.17.2-win-x64/dist/docs/lorem.pdf');" class="b_media__href"></a>
        <div class="b_media__icon">
            <img src="images/icon--pdf.png" alt="icon" class="b_media__img">
        </div>
        <div class="b_media__description">
            <p>A Natural Product Telomerase Activator as Part of a Health Maintenance Program Study - Harley
                <br>- 2011</p>
        </div>
    </div>
    <div class="b_media__element">
        <a href="javascript:require('nw.gui').Shell.openItem('U:/reps/t-a-sciences-usb-launcher/nwjs-sdk-v0.17.2-win-x64/dist/docs/lorem.pdf');" class="b_media__href"></a>
        <div class="b_media__icon">
            <img src="images/icon--pdf.png" alt="icon" class="b_media__img">
        </div>
        <div class="b_media__description">
            <p>Functional Assessment of Pharmacological T.A. in Human T Cells Study - Valenzuela
                <br>- 2013</p>
        </div>
    </div>
    <div class="b_media__element">
        <a href="javascript:require('nw.gui').Shell.openItem('U:/reps/t-a-sciences-usb-launcher/nwjs-sdk-v0.17.2-win-x64/dist/docs/lorem.pdf');" class="b_media__href"></a>
        <div class="b_media__icon">
            <img src="images/icon--pdf.png" alt="icon" class="b_media__img">
        </div>
        <div class="b_media__description">
            <p>Harvard Age Reversal in a Mammal Study - DePinho
                <br>- 2011</p>
        </div>
    </div>
    <div class="b_media__element">
        <a href="javascript:require('nw.gui').Shell.openItem('U:/reps/t-a-sciences-usb-launcher/nwjs-sdk-v0.17.2-win-x64/dist/docs/lorem.pdf');" class="b_media__href"></a>
        <div class="b_media__icon">
            <img src="images/icon--pdf.png" alt="icon" class="b_media__img">
        </div>
        <div class="b_media__description">
            <p>TA-65 Bird Feather Regeneration Study - Criscuolo
                <br>- 2014</p>
        </div>
    </div>
</div>
{% endblock %}
