{% extends "index.tmpl" %} 
{% block content %}
<div class="l_content__left">
    <h3 class="h3--select">Please Select One From Below</h3>
    <a href="_studies.html" class="b_button b_button--materials b_button--studies b_button--pdf"></a>
    <a href="_marketing.html" class="b_button b_button--materials b_button--marketing b_button--pdf"></a>
    <a href="_videos.html" class="b_button b_button--materials b_button--videos b_button--mp4"></a>
    <a href="_pricing.html" class="b_button b_button--materials b_button--prices b_button--ppt"></a>
    <a href="_whitePapers.html" class="b_button b_button--materials b_button--papers b_button--pdf"></a>
</div>
<div class="l_content__right">
    <img class="l_content__img--product" src="images/product.png" alt="TA65">
</div>
{% endblock %}
