<div class="l_header">
    <div class="l_header_logo">
        <a href="index.html">
        	<img src="images/logo.png" alt="" class="b_logo__img">
        </a>
    </div>
    <div class="l_header__title">
        <h2 class="h2--white h2--top_title">
           !!!Publications, Presentations, and Videos <br>about the Nobel-Prize Winning Science of Telomere Biology
       </h2>
    </div>
</div>