<div class="b_toolbar">
    <div class="b_toolbar__wrapper">
        <a href="javascript:window.close();" class="b_toolbar__close_window"></a>
        <div class="b_toolbar__draggable_area" style="-webkit-app-region: drag"></div>
    </div>
</div>